
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {

    background-color: rgb(219, 219, 127);
    --white: #fff;
    color: var(--white);
}

.container {
    display: flex;
    
}
.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* padding: 20px ; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
    position: fixed;

}

.sidebar__logo {
    background-image: url("/Spotify_Landingpage/assets/images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.menu {
    display: flex;
    flex-direction: column;

}

.menu__list {
    height: 150px;
    border: 1px solid white;
}

.menu__list__item {
    margin-top: 10px;
    cursor: pointer;
}

.menu__list .lg {
    display: flex;
}


.main-content {
    border: 1px solid red;
    height: 100vh;
    width: 100vw;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #15141480;
    align-items: center;
    padding: 0 30px;
}

.header_left {
    display: flex;
}

.btn {
    margin-right: 20px;
}

header button {
    cursor: pointer;
}

.btn button {
    color: #ffffff;
    font-size: 30px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
    background-color: #000000;
    cursor: pointer;
    
}

.header_right button {
    height: 50px;
    width: 140px;
    border-radius: 30px;
    border: none;
    background-color: rgb(4, 4, 4);
    color: #fff;
}

.main-content {
    box-sizing: border-box;
}


.header_right .hidden {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: whitesmoke;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play_list {
    display: flex;

    flex-wrap: wrap;
}
.img img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}
.card {
    width: 210px;
    height: 300px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid red;
   margin: 10px;
    border-radius: 10px;
    background: linear-gradient(180deg, black, white);
    transition: .5s;
    transform: translateY(0);

}

@keyframes up {
    from {transform: translateY(0);}
    to {transform: translateY(-10px);}
  }

.card:hover {
   transform: translateY(-10px);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: blue;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
